export GCP_DEV_PROJECT = 'projeto_prd'
export DBT_DEV_SCHEMA = 'schema_dev'
export GCP_DEV_KEYFILE_PATH = 'path/to/keyfile.json'

export GCP_PRDO_PROJECT = 'x'
export DBT_PROD_SCHEMA = 'x'
export GCP_PROD_KEYFILE_PATH = 'x'